<!DOCTYPE html>
<html>
<head>
	<title>Example</title>
	<link rel="stylesheet" type="text/css" href="../common/resources/css/bootstrap.css">
	<script src="../common/resources/js/angular.js"></script>
	<script src="../common/resources/SmartExpensejs/Module/module.js"></script>
	<script src="../common/resources/SmartExpensejs/Controller/controller.js"></script>

</head>
<body ng-app="smartApp" ng-controller="smartController">
    <div class="container">
		<div class="row">
  			<div class="col-md-6 col-md-offset-3">

			      <form class="form-signin">
			        <h2 class="form-signin-heading">Please sign in</h2>
			        <label for="inputEmail" class="sr-only">Email address</label>
			        <input type="text" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" ng-model="userEmail">
			        <label for="inputPassword" class="sr-only">Password</label>
			        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" ng-model="password">
			        <div class="checkbox">
			          <label>
			            <input type="checkbox" value="remember-me"> Remember me
			          </label>
			        </div>
			        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
			      </form>
			</div>
			<div class="jumbotron">
  				<div class="container">
   					Hello ! {{userEmail}} Your password is {{password}}
  				</div>
			</div>
		</div>
</body>
</html>